/* Navbar styles */
.navbar {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  height: 30px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #f5483b;
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  color: #f5483b;
  border: 1px solid #f5483b;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #e43a2e;
}
